@import "node_modules/normalize.less/normalize.less";
@import "mixins.less";
@import "variables.less";
@import "sprites/sprite.less";
@import "blocks/wrapper.less";
@import "blocks/header.less";
@import "blocks/footer.less";
@import "blocks/advantages.less";
@import "blocks/services.less";
@import "blocks/maximum-form.less";
@import "blocks/images.less";
@import "blocks/maps.less";
@import "slider/carousel.less";





body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  min-width: 1355px;
}

