.images {
  margin: 35px 0;
  margin-top: 25px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  
  img {
    display: block;
  }
}

.images__left {
  position: relative;
}

.images__row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.images__text {
  font-size: 20px;
  color: #2c2c2c;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: 40px;
  width: 215px;
}